<a href="https://colab.research.google.com/github/victoriamaccari/actividad-guiada-1/blob/master/Visualizacion_Scrap(introduccion).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Web scraping de  
#  https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2

In [ ]:
#Importamos librerias necesarias
#Para el tratamiento de datos
import pandas as pd
import numpy as np

#Para solicitar paginas web(request) y alanalizarlas(BeautifulSoup)
import requests                     # https://requests.readthedocs.io/es/latest/
from bs4 import BeautifulSoup       # https://www.crummy.com/software/BeautifulSoup/bs4/doc/

#Para visualizaciones
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Obtenemos la pagina html que queremos hacer web scraping
page = requests.get('https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2' )
print(page.text)
#print(page.status_code)
#print(page.headers['content-type'])

In [ ]:
soup = BeautifulSoup(page.text, 'lxml')

print(soup.title)

print(soup.title.get_text() )

<title>Emisiones de CO2  2018 | datosmacro.com</title>
Emisiones de CO2  2018 | datosmacro.com

In [ ]:
filas = soup.find('table', {'id':'tb1'}).find('tbody').find_all('tr')

filas

In [ ]:
data = []

for fila in filas:
    celdas = fila.find_all('td')
    dato={}
    dato['pais'] = celdas[0].get_text().replace(' [+]','')
    dato['CO2 Totales  Kts'] = celdas[1].get_text() 
    dato['CO2 Kg/1000$'] = celdas[2].get_text() 
    dato['CO2 t  per capita'] = celdas[3].get_text() 
    dato['Var.'] = celdas[5].get_text() 
      
    data.append(dato)

df = pd.DataFrame(data)
df.head(10)

                     pais CO2 Totales  Kts  ... CO2 t  per capita    Var.
0                  España          276.047  ...              5,95  -2,26%
1                Alemania          752.655  ...              9,15  -4,69%
2             Reino Unido          371.970  ...              5,59  -2,53%
3                 Francia          323.279  ...              4,96  -2,67%
4                  Italia          344.814  ...              5,82  -2,95%
5                Portugal           52.612  ...              5,11  -6,57%
6          Estados Unidos        5.275.478  ...             16,14   2,14%
7                   Japón        1.198.546  ...              9,42  -1,50%
8                   China       11.255.878  ...              7,95   1,13%
9  Emiratos Árabes Unidos          214.108  ...             22,44   1,37%

[10 rows x 5 columns]